@{
    ViewData["Title"] = "Sách "; 
    Layout = "_Layout";
}
@section LinkCss{
    <link rel="stylesheet" type="text/css" href="~/css/chiTietSanPham.css" />
}
@{
    WebsiteBanSach.Models.Sach sach = ViewBag.DetailSach;


    WebsiteBanSach.Models.TheLoai tl = new WebsiteBanSach.Models.TheLoai(); 
    WebsiteBanSach.Models.TheLoai theLoai = tl.getTheLoaiById(sach.MaTheLoai);

    WebsiteBanSach.Models.DanhMuc dm = new WebsiteBanSach.Models.DanhMuc();
    WebsiteBanSach.Models.DanhMuc danhMuc = dm.getDanhMucByID(theLoai.MaDanhMuc); 

    WebsiteBanSach.Models.NhaXuatBan nxb = new WebsiteBanSach.Models.NhaXuatBan();
    WebsiteBanSach.Models.NhaXuatBan nhaXuatBan = nxb.getXuatBanById(sach.MaNxb);

    WebsiteBanSach.Models.TacGium tg = new WebsiteBanSach.Models.TacGium();
    WebsiteBanSach.Models.TacGium tacGia = tg.getTacGiaByID(sach.MaTg);

    String dchKhachHang = Context.Session.GetString("diaChi") ?? "";

    List<WebsiteBanSach.Models.Sach> sachs = sach.getSachByMaTheLoai(theLoai.MaTheLoai, sach.MaSach);


  

}
<section id="breadcrumb-wrapper">
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner">
                <div class="breadcrumb-small">
                    <a href="/" title="Quay trở về trang chủ">Trang chủ</a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <a href="/collections/sach-tieng-viet" target="_self">
                        <span>@danhMuc.TenDanhMuc</span>
                    </a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <a href="/collections/am-nhac-my-thuat-thoi-trang" target="_self">
                        <span>@theLoai.TenTheLoai</span>
                    </a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <span>@sach.TenSach</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-main">
    <div class="container">
        <div class="container-inner">
            <form action="" id="product_addtocart_form">
                <div class="product-view kasitoo" id="product_view_kasitoo">
                    <div class="product-essential">
                        <div class="product-essential-media-parent">
                            <div class="product-essential-media">
                                <div class="product_view_media_fk_addtocart">
                                    <div class="product-view-image">
                                        <div class="product-view-thumbnail">
                                            <div class="lightgallery" id="lightgallery-product-media">
                                                <a class="include-in-gallery" id="lightgallery-item-0" href="~/imgs/@sach.AnhSach">
                                                    <img src="~/imgs/@sach.AnhSach" alt="image">
                                                </a>
                                                <a class="include-in-gallery" id="lightgallery-item-0" href="~/imgs/@sach.AnhSach">
                                                    <img src="~/imgs/@sach.AnhSach" alt="image">
                                                </a>
                                                <a class="include-in-gallery" id="lightgallery-item-0" href="~/imgs/@sach.AnhSach">
                                                    <img src="~/imgs/@sach.AnhSach" alt="image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-view-image-product fhs_img_frame_container">
                                            <img id="image" class="fhs-p-img lazyloaded" src="~/imgs/@sach.AnhSach">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="product_view_add_box">
                                        <button type="button" title="Thêm vào giỏ hàng" class="btn-cart-to-cart">
                                            <span class="fhs_icon_cart me-3"><i class="fa-solid fa-cart-shopping"></i></span>
                                            <a href="@Url.Action("AddToCart", "ChiTietSanPham", 
                                                new{MaSach = sach.MaSach, TenSach = sach.TenSach, NamXb = sach.NamXb,SoTrang = sach.SoTrang,
                                                AnhSach = sach.AnhSach,MoTa = sach.MoTa,SoLuong = sach.SoLuong, TrongLuong = sach.TrongLuong, GiaBan = sach.GiaBan,
                                                MaTg = sach.MaTg, MaTheLoai = sach.MaTheLoai, MaNxb = sach.MaNxb, soLuongmua = 1 })">Thêm vào giỏ hàng</a>
                                        </button>
                                        <button type="button" title="Mua ngay" is_buynow="true" class="btn-buy-now">
                                            <span>Mua ngay</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product_view_policy_left">
                                    <div class="product_view_policy_content_left" id="product_view_policy_content_left">
                                        <div class="product_view_policy_desktop">
                                            <div class="product_view_policy_title">Chính sách ưu đãi của Nhà sách cá chép</div>
                                            <div class="product-attribute">
                                                <div class="product_view_item_note">
                                                    <div class="product_view_item_note_title">
                                                        <div class="product_view_item_icon">
                                                            <i class="fa-solid fa-truck-fast"></i>
                                                        </div>
                                                        <div class="product_view_item_title">Thời gian giao hàng</div>
                                                    </div>
                                                    <div class="product_view_item_special_char">:&nbsp;</div>
                                                    <div class="product_view_item_content_container">
                                                        <div class="product_view_item_content">Giao nhanh và uy tín</div>
                                                        <div class="product_view_item_icon_more"></div>
                                                    </div>
                                                </div>

                                                <div class="product_view_item_note">
                                                    <div class="product_view_item_note_title">
                                                        <div class="product_view_item_icon"><i class="fa-solid fa-reply"></i></div>
                                                        <div class="product_view_item_title">Chính sách đổi trả</div>
                                                    </div>
                                                    <div class="product_view_item_special_char">:&nbsp;</div>
                                                    <div class="product_view_item_content_container">
                                                        <div class="product_view_item_content">Đổi trả miễn phí toàn quốc</div>
                                                        <div class="product_view_item_icon_more"></div>
                                                    </div>
                                                </div>

                                                <div class="product_view_item_note">
                                                    <div class="product_view_item_note_title">
                                                        <div class="product_view_item_icon"><i class="fa-solid fa-shop"></i>  </div>
                                                        <div class="product_view_item_title">Chính sách khách sỉ</div>
                                                    </div>
                                                    <div class="product_view_item_special_char">:&nbsp;</div>
                                                    <div class="product_view_item_content_container">
                                                        <div class="product_view_item_content">Ưu đãi khi mua số lượng lớn</div>
                                                        <div class="product_view_item_icon_more"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="product-essential-detail-parent">
                            <div class="product-essential-detail">
                                <div class="block-content-product-detail block-product-view-mobile">
                                    <h1 class="fhs_name_product_desktop">
                                        @sach.TenSach
                                    </h1>
                                    <div class="product-view-sa">
                                        <div class="product-view-sa_one">
                                            <div class="product-view-sa-supplier">
                                                <span>Nhà xuất bản:</span>
                                                <span>@nhaXuatBan.TenNxb </span>
                                            </div>
                                            <div class="product-view-sa-author">
                                                <span>Tác giả:</span>
                                                <span>@tacGia.TenTg</span>
                                            </div>
                                        </div>
                                        <div class="product-view-sa_two">
                                            <div class="product-view-sa-supplier">
                                                <span>Hình thức bìa:</span>
                                                <span>Bìa Mềm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 price-block" id="product-view-price-block">
                                        <div class="product_price price-block-left" id="catalog-product-details-price">
                                            <div class="price-box">
                                                <div class="special-price">
                                                    <span class="price" id="product-price-459840">
                                                        @WebsiteBanSach.Models.Sach.FormatCurrency(sach.GiaBan)
                                                    </span>
                                                </div>
                                                <p class="old-price">
                                                    <span class="price" id="old-price-459840">@WebsiteBanSach.Models.Sach.FormatCurrency((sach.GiaBan.HasValue ? (sach.GiaBan.Value / 0.8m) : 0))</span>
                                                    <span class="discount-percent">-20%</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                                <div class="block-content-product-detail block-info-delivery-mobile">
                                    <h2 class="block-content-product-detail-title">Thông tin vận chuyển</h2>
                                    <div id="expected_delivery">
                                        <div>
                                            <div id="expected_delivery_address" class="expected_delivery_address">
                                                <div style="display:flex;">
                                                    <div>
                                                        <span>
                                                            <span class="me-1">Giao hàng đến </span>
                                                        </span>
                                                        <span id="expected_delivery_address_content">@dchKhachHang</span>
                                                    </div>
                                                    <div id="expected_delivery_address_change">Thay đổi</div>
                                                </div>
                                            </div>
                                            <div id="expected_delivery_detail" style="display: flex;" class="">
                                                <div class="icon_delivery"></div>
                                                <div class="expected_delivery_detail_content">
                                                    <div class="expected_delivery_detail_content_title">Giao hàng tiêu chuẩn</div>
                                                    <div id="expected_delivery_fpoint_time">Dự kiến giao <span class="expected_delivery_fpoint_time_content">@DateTime.Now.AddDays(2).ToString("dd/MM/yyyy")</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="padding-bottom-16-desktop" data-ref="info_quantity">
                                            <div id="catalog-product-details-discount">
                                                <div class="product-view-quantity-box">
                                                    <label for="qty">Số lượng:</label>
                                                    <div class="product-view-quantity-box-block">
                                                        <a class="btn-subtract-qty"><img style="width: 12px; height: auto;" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_minus2x.png"></a>
                                                        <input type="text" name="qty" id="qty" maxvalue="999" minvalue="1" value="1" title="SL" class="input-text qty">
                                                        <a class="btn-add-qty"><img style="width: 12px; height: auto;" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_plus2x.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="block-content-product-detail block-info-detail-mobile">
                                    <h2 class="block-content-product-detail-title">
                                        Thông tin chi tiết
                                    </h2>
                                    <div id="product_view_info" class="content product_view_content">
                                        <div class="product_view_content-title"></div>
                                        <div class="product_view_tab_content_ad">
                                            <div class="product_view_tab_content_additional">
                                                <table class="data-table table-additional">
                                                    <colgroup>
                                                        <col width="25%">
                                                        <col>
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="table-label">Mã hàng</th>
                                                            <td class="data_0">
                                                                <div class="attribute_link_container">@sach.MaSach</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Tác giả</th>
                                                            <td class="data_1">
                                                                <div class="attribute_link_container">@tacGia.TenTg</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Nhà cung cấp </th>
                                                            <td class="data_2">
                                                                <div class="attribute_link_container">@nhaXuatBan.TenNxb</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Nhà xuất bản </th>
                                                            <td class="data_3">
                                                                <div class="attribute_link_container">@nhaXuatBan.TenNxb</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Số trang    </th>
                                                            <td class="data_0">
                                                                <div class="attribute_link_container">@sach.SoTrang</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Hình thức</th>
                                                            <td class="data_0">
                                                                <div class="attribute_link_container">Bìa mềm</div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="data-table">
                                                    <colgroup>
                                                        <col width="25%">
                                                        <col>
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="table-label">Sản phẩm bán chạy nhất</th>
                                                            <td>
                                                                <a style="font-size: 14px; color: #2489F4;" href="/">Top 100 sản phẩm @theLoai.TenTheLoai bán chạy của tháng</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="block-content-product-detail block-info-detail-2-mobile" id="block-content-product-detail">
                                <h2 class="block-content-product-detail-title">Mô tả sản phẩm</h2>
                                <div id="product_tabs_description_contents" style="max-height: none; height: auto;">
                                    <div id="desc_content" class="std">
                                        <p>@sach.MoTa</p>
                                    </div>
                                    <div class="product_tabs_description_contents_gradient" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <!-- Sản phẩm liên quan -->

        <div class="fhs_tabslider3_container" id="fhs_tabslider3_tab_recommendatedApi">
            <div class="fhs_tabslider3_header">
                <h3 class="fhs_tabslider3_title">Sản phẩm liên quan</h3>
            </div>
            <div class="fhs_tabslider3_products_container" id="fhs_tabslider3_pro_recommendatedApi">
                <div id="fhs_tabslider3_products_tabs_3" class="fhs_tabslider3_products swiper-container-horizontal" style="">
                    <div class="fhs_tabslider3_products_ul swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                        @if (sachs != null)
                        {
                            foreach(var i in sachs)
                            {
                                <!-- lisst iem -->
                                <div class="fhs_tabslider3_li_items swiper-slide swiper-slide-active" style="width: 244px;">
                                    <div class="item-inner" style="position: relative">
                                        <div class="ma-box-content">
                                            <div class="products clearfix">
                                                <div class="product images-container">
                                                    <a href="@Url.Action("chiTietSanPham","ChiTietSanPham", new {idSach = i.MaSach} )" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ" class="product-image">
                                                        <div class="product-image">
                                                            <img src="~/imgs/@i.AnhSach">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="product-name-no-ellipsis">
                                            <a href="@Url.Action("chiTietSanPham","ChiTietSanPham", new {idSach = i.MaSach} )">@i.TenSach</a>
                                        </h2>
                                        <div class="price-label products-grid">
                                            <p class="special-price">
                                                <span id="product-price-538311" class="price m-price-font">@WebsiteBanSach.Models.Sach.FormatCurrency(i.GiaBan)</span>
                                                <span class="discount-percent fhs_center_left">-20%</span>
                                            </p>
                                            <p class="old-price bg-white">
                                                <span id="old-price-538311" class="price m-price-font">@WebsiteBanSach.Models.Sach.FormatCurrency((i.GiaBan.HasValue ? (i.GiaBan.Value / 0.8m) : 0))</span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!-- end  -->
                            }    
                        }

                    </div>
                </div>
            </div>
        </div>
