
@{
    ViewData["Title"] = "chiTietDatHang";
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/chiTietDatHang.css" />
}
@{
    List<WebsiteBanSach.Controllers.DH> dHs = ViewBag.dhchiTiet;
    String dch = Context.Session.GetString("diaChi"); 
    String sdt = Context.Session.GetString("SDT");
    WebsiteBanSach.Models.HoaDon hoaDon = ViewBag.hoaDon;

    @*HttpContext.Session.SetString("maKhachHang", khachHang.MaKh);
    HttpContext.Session.SetString("tenKH", khachHang.TenKh);
    HttpContext.Session.SetString("email", khachHang.Email);
    HttpContext.Session.SetString("SDT", khachHang.Sdt);
    HttpContext.Session.SetString("diaChi", khachHang.DiaChi);*@
}


<div class="page-container">
    <div class="breadcrumb-header">
        <a href="@Url.Action("donHang", "DonHang")" class="btn-back">
            <i class="bi bi-chevron-left"></i>
        </a>
        <div class="title">
            <h2 class="mb-0">Chi tiết đơn hàng</h2>
        </div>
    </div>
    <div class="page-content">
        <div class="d-lex">
            @if (dHs != null)
            {
                foreach(var i in dHs)
                {
                    <div class="d-flex flex-column">
                        <div class="product d-flex">
                            <div class="product__des d-flex">
                                <img src="~/imgs/@i.AnhSach" class="gQuHsZ" alt="" tabindex="0">
                                <div class="product__des-item">
                                    <div>
                                        <div class="product__name">@i.TenSach</div>
                                    </div>
                                    <div>
                                        <div class="product__detail" tabindex="0">
                                            <span>Thể loại:</span>
                                            <span>@i.TenTheLoai</span>
                                        </div>
                                        <div class="product__quantity" tabindex="0">
                                            <span>Số lượng:</span>
                                            <span>@i.SoLuongDat</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__price">
                                <span class="nW_6Oi">@i.TenSach</span>

                            </div>
                        </div>
                        <hr />

                    </div>
                    <hr />
                }
            }
            <div class="product__info-orders">
                 <div>
                     <h4>Thông tin đơn hàng</h4>
                 </div>
                 <div class="product_info-detail">
                     <div>
                         <span>Mã đơn hàng: </span>
                         <span>@hoaDon.MaHd</span>
                     </div>
                     <div>
                         <span>Thời gian đặt hàng: </span>
                         <span>@hoaDon.NgayThanhToan</span>
                     </div>
                     <div>
                         <span>Địa chỉ giao hàng: </span>
                         <span>@hoaDon.DiaChiGiaoDich</span>
                         <span>@hoaDon.DiaChiGiaoDich</span>
                     </div>
                     <div>
                         <span>Số điện thoại giao hàng: </span>
                         <span>@sdt</span>
                     </div>
                    
                 </div>
             </div>
            <div class="product__info-price">
                <div>
                    <h4>Thông tin thanh toán</h4>
                </div>
                <div class="product_info-detail">
                    <div>
                        <span>Tổng tiền hàng: </span>
                        @* <span>@WebsiteBanSach.Controllers.DH.GetTotalPrice(dHs)</span> *@
                    </div>
                    <div>
                        <span>Phí vận chuyển: </span>
                        <span>60.000đ</span>
                    </div>
                    <hr />

                    <div class="product__totalPrice">
                        <span>Thành tiền: </span>
                @*         <span>@(WebsiteBanSach.Controllers.DH.GetTotalPrice(dHs)+60000)</span> *@
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>