@{
    ViewData["Title"] = "Ghé Ngay Nhà Sách Cá Chép Trực Tuyến - CACHEP.VN – Cá Chép Bookstore";
    Layout = "_Layout";
}
@{
    List<WebsiteBanSach.Models.DanhMuc> danhMucs = ViewBag.danhMucs;
    List<WebsiteBanSach.Models.Sach> sachs = ViewBag.sachs;
}
<div id="megamenu-navbar" class="not-index">
    <div class="main-navbar medium--hide small--hide">
        <div class="wrapper">
            <div class="inner">
                <div class="grid mg-left-0">
                    <div class="grid__item pd-left0 large--two-twelfths">
                        <div class="megamenu-wrapper not-index">
                            <div class="megamenu-head">
                                <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
                                Danh mục sản phẩm
                            </div>
                            <div class="megamenu-body">
                                <ul class="no-bullets">
                                    @if (danhMucs != null)
                                    {
                                        foreach (WebsiteBanSach.Models.DanhMuc item in danhMucs)
                                        {
                                            <li class="li-dropdown">
                                                <a href="/collections/sach-tieng-viet">@item.TenDanhMuc</a>
                                            </li>
                                        }
                                       
                                    }
                                    
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item pd-left0 large--eight-twelfths">
                        <ul class="navbar-list no-bullets">
                              @if (danhMucs != null)
                               {
                                foreach (WebsiteBanSach.Models.DanhMuc item in danhMucs)
                                {
                                    <li><a href="">@item.TenDanhMuc</a></li>
                                }
                               }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDE -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide ">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/imgs/ms_banner_img1.jpg" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/imgs/ms_banner_img2.jpg" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="~/imgs/ms_banner_img4.webp" class="d-block w-100" alt="...">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<div id="PageContainer" class="is-moved-by-drawer mt-5">
    <div class="main-content">
        <section id="home-banners">
            <div class="hbanners-body">
                <div class="wrapper">
                    <div class="inner">
                        <div class="grid mg-left-10">
                            <div class="grid__item pd-left10 mg-bottom-10 large--one-third medium--one-whole small--one-whole">
                                <div class="hbanners-img">
                                    <img src="//theme.hstatic.net/1000363117/1000911694/14/hbanner_img1.png?v=606" alt="Sách Giới Hạn"></a>
                                </div>

                            </div>
                            <div class="grid__item pd-left10 large--two-thirds medium--one-whole small--one-whole">
                                <div class="grid mg-left-10">
                                    <div class="grid__item pd-left10 large--two-thirds medium--two-thirds small--one-whole">
                                        <div class="grid mg-left-10 banner_mid">
                                            <div class="grid__item pd-left10 mg-bottom-10 large--one-half medium--one-half small--one-half">
                                                <div class="hbanners-img">
                                                    <a><img src="//theme.hstatic.net/1000363117/1000911694/14/hbanner_img2.png?v=606" alt="Sách Mới"></a>
                                                </div>
                                            </div>
                                            <div class="grid__item pd-left10 mg-bottom-10 large--one-half medium--one-half small--one-half">
                                                <div class="hbanners-img">
                                                    <a><img src="//theme.hstatic.net/1000363117/1000911694/14/hbanner_img3.png?v=606" alt="VPP"></a>
                                                </div>
                                            </div>
                                            <div class="grid__item pd-left10 mg-bottom-10 large--one-half medium--one-half small--one-half">
                                                <div class="hbanners-img">
                                                    <a><img src="//theme.hstatic.net/1000363117/1000911694/14/hbanner_img4.png?v=606" alt="Tủ Sách Y Học"></a>
                                                </div>
                                            </div>
                                            <div class="grid__item pd-left10 mg-bottom-10 large--one-half medium--one-half small--one-half">
                                                <div class="hbanners-img">
                                                    <a><img src="//theme.hstatic.net/1000363117/1000911694/14/hbanner_img5.png?v=606" alt="Đồ Chơi"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item pd-left10 large--one-third medium--one-third small--one-whole">
                                        <div class="hbanners-img">
                                            <img src="//theme.hstatic.net/1000363117/1000911694/14/hbanner_img6.png?v=606" alt="Sổ Tay Planner"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="home-module-products1" class="home-module-products">
            <div class="hmodule-products-body">
                <div class="wrapper">
                    <div class="inner">
                        <div class="grid mg-left-10">
                            <div class="grid__item large--one-fifth medium--one-quarter pd-left10">
                                <div class="hmodule-products-banner">
                                    <!-- SÁCH BÁN CHẠY NHẤT -->
                                    <a href="@Url.Action("chiTietSanPham", "ChiTietSanPham")"><img src="//theme.hstatic.net/1000363117/1000911694/14/hmproducts1_img1.png?v=606" alt="Home Module Banner 1"></a>
                                </div>
                                <div class="hmodule-products-banner">
                                    <a href=""><img src="//theme.hstatic.net/1000363117/1000911694/14/hmproducts1_img2.png?v=606" alt="CACHEP5K"></a>
                                </div>
                            </div>

                            <div class="grid__item large--four-fifths medium--three-quarters pd-left10">
                                <div class="grid-uniform mg-left-10">
                                    @if (sachs != null)
                                    {
                                        foreach(var i in sachs)
                                        {
                                            <!-- START ITEM -->
                                            <div class="grid__item pd-left10 large--one-quarter medium--one-third small--one-halF">
                                                <a href="@Url.Action("chiTietSanPham", "ChiTietSanPham", new {idSach = i.MaSach})" class="product-item">
                                                    <div class="product-img">
                                                        <img id="1027125194" class="lazyload" src="~/imgs/@i.AnhSach">
                                                        <div class="product-tagsaleoff">
                                                            -20%
                                                        </div>
                                                    </div>
                                                    <div class="product-title text-center">
                                                            @i.TenSach
                                                    </div>
                                                    <div class="product-price clearfix">
                                                        <span class="current-price">@WebsiteBanSach.Models.Sach.FormatCurrency(i.GiaBan)</span>
                                                        <span class="original-price">@WebsiteBanSach.Models.Sach.FormatCurrency((i.GiaBan.HasValue ? (i.GiaBan.Value / 0.8m) : 0))</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- END ITEM -->
                                        }                                     
                                       
                                    }





                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>