
@{
    ViewData["Title"] = "donHang";
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/donHang.css" />

}

@{
    var donHangs = ViewBag.donHangs;
}
<div class="page-container">
    <div>
         <!-- Tab items -->
          <div class="tabs">
              <div class="tab-item active">
                  Tất cả
              </div>
              <div class="tab-item">
                  Vận chuyển
              </div>
              <div class="tab-item">
                  Chờ giao hàng
              </div>
              <div class="tab-item">
                  Hoàn thành
              </div>
              <div class="tab-item">
                  Đã hủy
              </div>
              <div class="line"></div>
          </div>
  
         <!-- Tab content -->
        <div class="tab-content">
            @*  Tất cả *@
            <div class="tab-pane active">
                <div class="page-content">
                    <div class="d-lex">
                        <div class="d-flex flex-column">
                            @if (donHangs != null && donHangs.Count > 0)
                            {
                                foreach (var dh in donHangs)
                                {
                                    if (dh.MaHD != null)
                                    {
                                        <a href="@Url.Action("chiTietDatHang", "ChiTietDatHang", new { idDonHang = dh.MaHD })" class="product d-flex mb-2">
                                            <div class="product__des d-flex">
                                                <img src="~/imgs/@dh.AnhSach" class="gQuHsZ" alt="" tabindex="0">
                                                <div class="product__des-item">
                                                    <div>
                                                        <div class="product__name">@dh.TenSach</div>
                                                    </div>
                                                    <div>
                                                        <div class="product__detail" tabindex="0">
                                                            <span>Thể loại:</span>
                                                            <span>@dh.TenTheLoai</span>
                                                        </div>
                                                        <div class="product__quantity" tabindex="0">
                                                            <span>Số lượng:</span>
                                                            <span>@dh.SoLuongDat</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product__price">
                                                <span class="nW_6Oi">@WebsiteBanSach.Models.Sach.FormatCurrency(@dh.GiaBan)</span>
                                            </div>
                                        </a>
                                    }
                                }
                            }
                            else
                            {
                                <div>Chưa có đơn hàng nào!</div>
                            }

                            <hr />
