@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Giỏ hàng của bạn – Cá Chép Bookstore";
    Layout = "_Layout";
}
@{
    List<WebsiteBanSach.Models.GioHang> gioHangs = Context.Session.GetObjectFromJson<List<WebsiteBanSach.Models.GioHang>>("Cart");
}
<section id="breadcrumb-wrapper">
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner">
                <div class="breadcrumb-small">
                    <a href="/" title="Quay trở về trang chủ">Trang chủ</a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <a href="/collections/sach-tieng-viet" target="_self">
                        <span>Giỏ hàng của bạn - Cá chép Bookstore</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content">
        <div id="page-wrapper">
            <div class="wrapper">
                <div class="inner">
                    <h1>Giỏ hàng</h1>
                    <form action="@Url.Action("thanhToan", "ThanhToan")" class="cart table-wrap medium--hide small--hide">
                        <table class="cart-table full table--responsive">
                            <thead class="cart__row cart__header-labels">
                                <tr>
                                    <th colspan="2" class="text-center">Thông tin chi tiết sản phẩm</th>
                                    <th class="text-center">Đơn giá</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-right">Tổng giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(gioHangs!=null){
                                    foreach(var i in gioHangs){
                                <tr class="cart__row table__section">
                                    <td data-label="Sản phẩm">
                                        <a href="@Url.Action("chitietsanpham", "ChiTietSanPham", new {idSach = i.Sach.MaSach})" class="cart__image">
                                            <img src="~/imgs/@i.Sach.AnhSach" alt="Tôi Vẽ - Phương Pháp Tự Học Vẽ Truyện Tranh" style="width:200px;">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("chitietsanpham", "ChiTietSanPham", new {idSach = i.Sach.MaSach})" class="h4">
                                            @i.Sach.TenSach
                                        </a>
                                        <a href="" class="cart__remove">
                                            <small>Xóa</small>
                                        </a>
                                    </td>
                                    <td data-label="Đơn giá">
                                        <span class="h3">
                                          @WebsiteBanSach.Models.Sach.FormatCurrency(i.Sach.GiaBan)
                                        </span>
                                    </td>
                                    <td data-label="Số lượng">
                                        <div class="js-qty">
                                            <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="" data-qty="2">
                                                <span class="icon icon-minus" aria-hidden="true"></span>
                                                <span class="fallback-text" aria-hidden="true">−</span>
                                                <span class="visually-hidden">Giảm số lượng sản phẩm đi 1</span>
                                            </button>
                                            <input type="number" class="js-qty__num" value="@i.SoLuong" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="updates[]" id="updates_">
                                            <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="" data-qty="31">
                                                <span class="icon icon-plus" aria-hidden="true"></span>
                                                <span class="fallback-text" aria-hidden="true">+</span>
                                                <span class="visually-hidden">Tăng số lượng sản phẩm lên 1</span>
                                            </button>
                                        </div>
                                    </td>
                                    <td data-label="Tổng giá" class="text-right">
                                        <span class="h3">
                                                    @WebsiteBanSach.Models.Sach.FormatCurrency( @i.TotalPrice)
                                        </span>
                                    </td>
                                    </tr>
                                }}
                            </tbody>
                        </table>
                        <div class="grid cart__row">
                            <div class="grid__item two-thirds small--one-whole">
                                <label for="CartSpecialInstructions">Chú thích cho chủ cửa hàng</label>
                                <textarea name="note" class="input-full" id="CartSpecialInstructions"></textarea>
                            </div>
                            <div class="grid__item text-right one-third small--one-whole">
                                <p>
                                    <span class="cart__subtotal-title">Tổng tiền</span>
                                    <span class="h3 cart__subtotal"> @WebsiteBanSach.Models.Sach.FormatCurrency(WebsiteBanSach.Models.GioHang.GetTotalPrice(gioHangs))</span>
                                </p>
                                <button type="submit" name="checkout" class="btn">Thanh toán</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

